<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title><%= @crm_app_name %></title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/base.css">
	<link rel="stylesheet" href="/skeleton.css">
	<link rel="stylesheet" href="/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->


</head>

	<!-- Primary Page Layout
	================================================== -->
<body>
  <div class="container">
		<header class="sixteen columns">
		  <div class="div-left">
		    <h1><a href="/">rgm crm</a></h1>
		  </div>  

		  <div class="div-right">	
			<%= erb :nav %>	
		  </div>	
  		</header>

  	<%= yield %>	
  
		
		
  	<div class="sixteen columns">
		<footer>
			<p>copyright 2014 rgm</p>
		</footer>
	</div>		
  </div>			

<!-- End Document
================================================== -->
</body>
</html>