<h4>create new contact</h4>

<form action="/contacts" method="post">
	<label for="first_name">First Name</label>
	<input type="text" id="first_name" name="first_name">
	<label for="last_name">Last Name</label>
	<input type="text" id="last_name" name="last_name">
	<label for="email">Email</label>
	<input type="text" id="email" name="email">
	<label for="note">Note</label>
	<input type="text" id="note" name="note">
	<input type="Submit" name="Submit">
</form>	